{% extends 'admin.twig' %}

{% set title %}{{ 'PrivacyManager_AnonymizeData'|translate }}{% endset %}

{% block content %}
{% import 'macros.twig' as piwik %}

<div
    vue-entry="PrivacyManager.PrivacySettings"
    ip-anonymizer-enabled="{{ anonymisationSettings.ipAnonymizerEnabled|default(null)|json_encode }}"
    anonymize-user-id="{{ anonymisationSettings.anonymizeUserId|default(null)|json_encode }}"
    ip-address-mask-length="{{ anonymisationSettings.ipAddressMaskLength|default(null)|json_encode }}"
    use-anonymized-ip-for-visit-enrichment="{{ anonymisationSettings.useAnonymizedIpForVisitEnrichment|default(null)|json_encode }}"
    anonymize-order-id="{{ anonymisationSettings.anonymizeOrderId|default(null)|json_encode }}"
    force-cookieless-tracking="{{ anonymisationSettings.forceCookielessTracking|default(null)|json_encode }}"
    anonymize-referrer="{{ anonymisationSettings.anonymizeReferrer|default(null)|json_encode }}"
    mask-length-options="{{ anonymisationSettings.maskLengthOptions|default(null)|json_encode }}"
    use-anonymized-ip-for-visit-enrichment-options="{{ anonymisationSettings.useAnonymizedIpForVisitEnrichmentOptions|default(null)|json_encode }}"
    tracker-file-name="{{ anonymisationSettings.trackerFileName|default(null)|json_encode }}"
    tracker-writable="{{ anonymisationSettings.trackerWritable|default(null)|json_encode }}"
    referrer-anonymization-options="{{ anonymisationSettings.referrerAnonymizationOptions|default(null)|json_encode }}"
    is-data-purge-settings-enabled="{{ isDataPurgeSettingsEnabled|default(null)|json_encode }}"
    delete-data="{{ deleteData|default(null)|json_encode }}"
    schedule-deletion-options="{{ scheduleDeletionOptions|default(null)|json_encode }}"
    anonymizations="{{ anonymizations|json_encode }}"
    is-super-user="{{ isSuperUser|json_encode }}"
    randomize-config-id="{{ anonymisationSettings.randomizeConfigId|json_encode }}"
    extra-metadata="{{ anonymisationSettings.extraMetadata|default([])|json_encode }}"
></div>

{% endblock %}
