<p>{{ 'General_HelloUser'|translate(superuserLogin) }}</p>
<p>{{ 'UsersManager_InactiveUsersNotificationEmail01'|translate }}</p>
<p>{{ 'UsersManager_InactiveUsersNotificationEmail02'|translate }}</p>
<ul>
    <li>{{ 'UsersManager_InactiveUsersNotificationEmail02a'|translate }}</li>
    <li>{{ 'UsersManager_InactiveUsersNotificationEmail02b'|translate }}</li>
    <li>{{ 'UsersManager_InactiveUsersNotificationEmail02c'|translate }}</li>
</ul>

<strong>{{ 'UsersManager_InactiveUserAccounts'|translate }}</strong>
<p>{{ 'UsersManager_InactiveUsersNotificationEmail03'|translate }}</p>

<table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">{{ 'General_Username'|translate }}</th>
            <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">{{ 'UsersManager_LastLoginDate'|translate }}</th>
            <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">{{ 'UsersManager_LastAPIUsageDate'|translate }}</th>
        </tr>
    </thead>
    <tbody>
    {% for inactiveUser in inactiveUsers %}
        <tr>
            <td style="border: 1px solid #ccc; padding: 10px;">{{ inactiveUser.login }}</td>
            <td style="border: 1px solid #ccc; padding: 10px;">{{ inactiveUser.ts_last_seen }}</td>
            <td style="border: 1px solid #ccc; padding: 10px;">{% if inactiveUser.ts_last_token_activity is not empty %}{{ inactiveUser.ts_last_token_activity }}{% else %}{{ 'General_NotAvailable'|translate }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{ 'UsersManager_InactiveUsersNotificationEmail04'|translate }} <a href="{{ manageUsersLink|escape('html_attr') }}">{{ 'UsersManager_UsersManagement'|translate }}</a></p>
<p>{{ 'UsersManager_InactiveUsersNotificationEmail05'|translate }}</p>
<p>{{ 'UsersManager_InactiveUsersNotificationEmail06'|translate }}</p>

<strong>{{ 'UsersManager_DisablingThisNotification'|translate }}</strong>

<p>{{ 'UsersManager_InactiveUsersNotificationEmail07'|translate }}</p>
